h1,
p {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 40%;
  background-color: rgb(42, 42, 42);
  text-align: center;
  h1 {
    color: rgb(18, 222, 18);
    margin-bottom: 0.25em;
  }
  p {
    color: white;
  }
}

// .img-wrapper {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//     url("/assets/imgs/banner.jpg");
//   width: 100vw;
//   height: inherit;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
// }
